@font-face {
   font-family: 'NasalizationRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NasalizationRg-Regular'), url('font/nasalization\ rg.woff') format('woff');
    }
    body{
        
        background-color: black;
        color: white;
        font-family: "NasalizationRg-Regular", 'Questrial','Prompt';
    }
    img{
        cursor: pointer;
        max-width: 100%;
        
    }
    h1{
        font-size: 70px;
    }
    h2{
        font-family: 'Questrial',"Prompt";
        word-spacing: 8px;
    }
    
    h3{
        font-family: 'Questrial',"Prompt";
        
    }
    h4{
        font-family: 'Questrial',"Prompt";
        font-size: 20px;
    }
    p{
        font-size: 48px;
    }
   
    mark{
        color: #808083;
        background-color: transparent;
    }
    hr{ 
        
        color:white;
        background-color:white;
        margin-top: 2em;
        margin-bottom: 2em; 
    }
    .btn1{
        
        border-radius: 50%;
        border-width: 3px;
        padding: 28px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #313131;
        margin-right: 2rem;
        background-size: 200% auto;
    }
    .btn2{
        
        border-radius: 50%;
        border-width: 3px;
        padding: 28px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #c0c0c0;
        margin-right: 2rem;
    }
    .btn3{
        
        border-radius: 50%;
        border-width: 3px;
        padding: 28px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #ffd700;
        margin-right: 2rem;
    }

    .btn-yellow {
            background-color: #f0c400;
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 8px 28px;
            text-align: center;
            color: black;            
            border-radius: 40px;
            display: inline-block;
            font-family: "Prompt";
            font-size: 27px;
    }
    .btn-gradd {
            background-image: linear-gradient(to right, #006bff 0%, #ae20ff  51%, #434eff  100%);
            background-size: 200% auto;
            margin-top: 15px;
            margin-bottom: 10px;
            margin-right: 15px;
            padding: 8px 28px;
            text-align: center;
            color: white;            
            border-radius: 40px;
            display: inline-block;
            font-family: "Prompt";
            font-size: 27px;
            text-decoration: none;
    }
    
    .btn-grad {
            cursor: pointer;
            background-image: linear-gradient(to right, #006bff 0%, #ae20ff  51%, #434eff  100%);
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 10px 110px;
            text-align: center;
            background-size: 200% auto;
            color: white;            
            border-radius: 40px;
            display: inline-block;
            text-decoration: none;
            font-size: 30px;
    }

    .btn-grad:hover {
        background-image: linear-gradient(to right, #0056cc 0%, #871bcc  51%, #3240cc  100%);
        color: rgb(235, 229, 229);
        text-decoration: none;
    }
    .center {
        position: absolute;
        padding-top: 4%;
        text-align: center;
    }
    .left{
        position: absolute;
        padding-top: 10%;
        padding-left: 20%;
    }
    .right{
        position: absolute;
        padding-top: 10%;
        padding-left: 55%;
    }

    /* modal image*/
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */

    /* Add Animation */
    .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }

/*-------------------------------*/
a {
    font-family: 'Questrial','Prompt';
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    padding-bottom: 2%;
}

.footer-block2{
    margin: 2%;
}
.contact-btn{
    border-radius: 25px;
    font-size: 18pt;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    color: white;
    font-weight: 900;
}
/*--------------------------------------------*/
.buy_admin{
    background-image: url('pic/chat.jpg');
    background-color: #666666;
    background-position: center;
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.info_chat{
    text-align: center;
    font-size: 50px;
    padding: 132;
}
.transparent_btn {
    font-family: 'Questrial','Prompt';
    font-size: 40px;
	display: inline-block;
	padding: 14px 50px;
	color: rgb(211, 211, 211);
	border: 1px solid rgb(211, 211, 211);
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 40px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
    font-family: 'Questrial','Prompt';
	border: 1px solid rgb(255, 255, 255);
	color: #FFF;
}
h5{
    font-size: 16px;
    font-family: 'Questrial','Prompt';
    
}
/*dropdown*/
.dropdown-menu{
    background-color: black;
    border-image: linear-gradient(45deg, rgb(37, 5, 182), rgb(96, 8, 104)) 1;
    height: 380px;
    width: 300px;
    overflow: auto;
}

.dropdown-item{
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    
}

.dropdown-item:hover{
    color: white;
    background-color: #181818;
}

button {
    display: inline-block;
    vertical-align: top;
}

#dropdownMenuButton img {
    height: 25px;  
    width: 25px;
    background: transparent;
    border:none;
}
/*ตกแต่ง sccrollbar*/
.dropdown-menu::-webkit-scrollbar {
    width: 17px;
    
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 100px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #353535;
  }

  .main {
    width: 90%;
    margin:20px auto;
    color: #FFFFFF;
    
}

/* Bootstrap 3 text input with search icon */

.has-search .form-control-feedback {
    
    right: initial;
    left: 0;
    color: rgb(97, 97, 97);

}

.has-search .form-control {
    margin-top: 10px;
    border: 2px solid rgb(58, 58, 58);
    padding-right: 12px;
    padding-left: 34px;
}
