body {
    font-family: 'Prompt', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
.nav{
    margin: 0;
}
.banner{
    background-color: black;
    background-image: url('about-pic/RetinaX-Banner-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;

    position: relative;
    
}
.center{
    text-align: center;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.logo{
    position: absolute;
    top: 15%;
    left: 27%;
    margin: -35px 0 0 -35px;
}
.lens{
    margin: 150px;
    margin-bottom: 0;
    width: max-content;

    justify-content: center;
    position: relative;
}
.len{
    font-size: 24px;
    padding: 30px;
    justify-content: center;
    display: flex;
    position: relative;
}
p{
    font-size: 24px;
}
.info{
    margin: auto;
    border-top: 1px solid rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;

}
.text{
    justify-content: center;
    text-align: center;
    width: max-content;
    text-align: center;

    
}
.box-text{
    
    width: max-content;
    margin: 20px;
}
.img-info{
    margin: auto 50px ;
}
.all-card{
    margin-top: 80px;
    justify-content: center;
    display: flex;
}
.content{
    text-align: center;
    width: 300px;
    padding: 20px;
}
.buy_admin{
    background-image: url('about-pic/chat.jpg');
    background-color: #666666;
    background-position: center;
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
}
.info_chat{
    text-align: center;
    font-size: 50px;
    padding: 132;
}

.transparent_btn {
    font-size: 34px;
	display: inline-block;
	padding: 14px 50px;
	color: rgb(211, 211, 211);
	border: 1px solid rgb(211, 211, 211);
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 40px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
	border: 1px solid rgb(255, 255, 255);
	color: #FFF;
}
.sight{
    background-image: url('about-pic/optic-checker.jpg');
    background-color: #666666;
    background-position: center;
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
}

footer {
    padding-top: 4%;
    padding-bottom: 2%;
}

.footer-block2{
    margin: 2%;
}


/*dropdown*/
.dropdown-menu{
    background-color: black;
    border-image: linear-gradient(45deg, rgb(37, 5, 182), rgb(96, 8, 104)) 1;
    height: 380px;
    width: 300px;
    overflow: auto;
}

.dropdown-item{
    color: #FFFFFF;
    display: flex;
    
}

.dropdown-item:hover{
    color: white;
    background-color: #181818;
}

button {
    display: inline-block;
    vertical-align: top;
}

#dropdownMenuButton img {
    height: 25px;  
    width: 25px;
    background: transparent;
    border:none;
}
/*ตกแต่ง sccrollbar*/
.dropdown-menu::-webkit-scrollbar {
    width: 17px;
    
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 100px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #353535;
  }

  .main {
    width: 90%;
    margin:20px auto;
    color: #FFFFFF;
    
}

/* Bootstrap 3 text input with search icon */

.has-search .form-control-feedback {
    
    right: initial;
    left: 0;
    color: rgb(97, 97, 97);

}

.has-search .form-control {
    margin-top: 10px;
    border: 2px solid rgb(58, 58, 58);
    padding-right: 12px;
    padding-left: 34px;
}


a {
    color: #FFFFFF;
    text-decoration: none;
}