@font-face {
    font-family: 'NasalizationRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NasalizationRg-Regular'), url('font/nasalization\ rg.woff') format('woff');
    }

body {
    font-family: 'Prompt', sans-serif;
    background-color: black;
    color: white;
}



.content1{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    background-size: 100%;
    color: white;
}

.pastelcolor{
    background-image: linear-gradient( 
70deg, rgba(21, 118, 197, 0.911) 0%,  rgb(163, 93, 253) 100%);
transition: 0.5s;
}

.pastelcolor:hover{
    background-image: linear-gradient( 
70deg, rgb(0, 112, 204) 0%,  rgb(106, 59, 167) 100%);
}
.content2{
    width: 100%;
    height: auto;
    background-image: linear-gradient( 
    70deg, rgba(22, 19, 180, 0.7) 0%,  rgba(141, 60, 247, 0.7) 100%);
    
    text-align: center;
    padding: 10px;
    color: white;
}

.content2:hover{
    background-image: linear-gradient( 
70deg, rgba(16, 14, 114, 0.7) 0%,  rgba(129, 54, 228, 0.7) 100%);
}


.content4{
    padding: auto;
}

.landing-col {
    background: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    height: 490px;
    margin:0;
}

.glasses-col{
    background: no-repeat;
    -webkit-background-size: 70% auto;
    -moz-background-size: 70% auto;
    -o-background-size: 70% auto;
    background-size: 70% auto;
    height: 400px;
    padding-top: 7%;
    margin: 30px;
}

.buy-btn{
    border-radius: 25px;
    font-size: 18pt;
    padding-left: 1.3%;
    padding-right: 1.3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-top: -0.2%;
    border: 2px solid rgb(196, 196, 196);
    color: rgb(196, 196, 196);
}

.b-btn{
    border-radius: 29px;
    font-size: 18pt;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0.6%;
    padding-bottom: 0.5%;
    text-align: center;
    border: 2px solid rgb(196, 196, 196);
    color: rgb(196, 196, 196);
    font-weight: 900;
}

.buy-btn:hover{
    border: 2px solid white;
    color: white;
}

.b-btn:hover{
    border: 2px solid white;
    color: white;
}

.contact-btn{
    border-radius: 25px;
    font-size: 18pt;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    color: white;
    font-weight: 900;
}


.nazal {
    font-family: 'NasalizationRg-Regular'
}

div.nazal {
    font-family: 'NasalizationRg-Regular';
    font-size: 4.3vw;
}

div.font2 {
    font-family: 'Prompt', sans-serif;
    font-size: 2.2vw;
    font-weight: 900;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    padding-top: 4%;
    padding-bottom: 2%;
}

.footer-block2{
    margin: 2%;
}

hr {
    border: 1.5px solid rgb(255, 241, 241);
}

.border-right {
    border-right: 1px solid white;
}




/*dropdown*/
.dropdown-menu{
    background-color: black;
    border-image: linear-gradient(45deg, rgb(37, 5, 182), rgb(96, 8, 104)) 1;
    height: 380px;
    width: 300px;
    overflow: auto;
}

.dropdown-item{
    color: #FFFFFF;
    display: flex;
    
}

.dropdown-item:hover{
    color: white;
    background-color: #181818;
}

button {
    display: inline-block;
    vertical-align: top;
}

#dropdownMenuButton img {
    height: 25px;  
    width: 25px;
    background: transparent;
    border:none;
}
/*ตกแต่ง sccrollbar*/
.dropdown-menu::-webkit-scrollbar {
    width: 17px;
    
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 100px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #353535;
  }

  .main {
    width: 90%;
    margin:20px auto;
    color: #FFFFFF;
    
}

/* Bootstrap 3 text input with search icon */

.has-search .form-control-feedback {
    
    right: initial;
    left: 0;
    color: rgb(97, 97, 97);

}

.has-search .form-control {
    margin-top: 10px;
    border: 2px solid rgb(58, 58, 58);
    padding-right: 12px;
    padding-left: 34px;
}

