@font-face {
    font-family: 'NasalizationRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NasalizationRg-Regular'), url('font/nasalization\ rg.woff') format('woff');
}
body{
    font-family: "NasalizationRg-Regular", 'Questrial','Prompt';
    background-color: black;
    color: white;
}
img {
    /*max-width: 100%;*/
    height: auto;
    cursor: pointer;
    /*width: 100%;*/
}
h1{
    position: absolute;
    top: 30%;
    left: 8%;
    font-size: 80px;
    font-weight: 300;
}
h2{
    font-size: 70px;
    font-weight: 300;
}
p{
    font-size: 30px;
    font-family: 'Questrial','Prompt';
    
}
h5{
    font-size: 16px;
    font-family: 'Questrial','Prompt';
    
}
h3{
    font-size: 40px;
}
h4{
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 80px;
    font-size: 35px;
    font-family: 'Questrial','Prompt';
}

.btn-grad {
        cursor: pointer;
        background-image: linear-gradient(to right, #0056cc 0%, #871bcc  51%, #3240cc  100%);
        margin-top: 10px;
        padding: 10px 55px;
        text-align: center;
        background-size: 200% auto;
        color: rgb(235, 229, 229);            
        border-radius: 40px;
        display: inline-block;
      }

.btn-grad:hover {
        background-image: linear-gradient(to right, #006bff 0%, #ae20ff  51%, #434eff  100%);
        color: white;
        text-decoration: none;
      }
.btn-grad2 {
        font-family: 'Questrial','Prompt';
        cursor: pointer;
        background-image: linear-gradient(to right, #0056cc 0%, #871bcc  51%, #3240cc  100%);
        margin-top: 10px;
        padding: 5px 65px;
        text-align: center;
        background-size: 200% auto;
        color: rgb(235, 229, 229);            
        border-radius: 40px;
        display: inline-block;
      }

.btn-grad2:hover {
        background-image: linear-gradient(to right, #006bff 0%, #ae20ff  51%, #434eff  100%);
        color: white;
        text-decoration: none;
      }
.row{
    margin-bottom: 8%;
}
hr{        
    border: 1.5px solid rgb(255, 241, 241);
    color:white;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 65%;
}
.col-sm-4{
    padding: 50px;
}

a {
    font-family: 'Questrial','Prompt';
    color: #FFFFFF;
    text-decoration: none;
}

footer {
    padding-bottom: 2%;
}

.footer-block2{
    margin: 2%;
}
.contact-btn{
    border-radius: 25px;
    font-size: 18pt;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    color: white;
    font-weight: 900;
}
/*--------------------------------------------*/
.buy_admin{
    background-image: url('pic/chat.jpg');
    background-color: #666666;
    background-position: center;
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.info_chat{
    text-align: center;
    font-size: 50px;
    padding: 132;
}
.transparent_btn {
    font-family: 'Questrial','Prompt';
    font-size: 40px;
	display: inline-block;
	padding: 14px 50px;
	color: rgb(211, 211, 211);
	border: 1px solid rgb(211, 211, 211);
	text-decoration: none;
	font-size: 14px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 40px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
}
.transparent_btn:hover {
    font-family: 'Questrial','Prompt';
	border: 1px solid rgb(255, 255, 255);
	color: #FFF;
}


/*dropdown*/
.dropdown-menu{
    background-color: black;
    border-image: linear-gradient(45deg, rgb(37, 5, 182), rgb(96, 8, 104)) 1;
    height: 380px;
    width: 300px;
    overflow: auto;
}

.dropdown-item{
    color: #FFFFFF;
    display: flex;
    
}

.dropdown-item:hover{
    color: white;
    background-color: #181818;
}

button {
    display: inline-block;
    vertical-align: top;
}

#dropdownMenuButton img {
    height: 25px;  
    width: 25px;
    background: transparent;
    border:none;
}
/*ตกแต่ง sccrollbar*/
.dropdown-menu::-webkit-scrollbar {
    width: 17px;
    
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 100px;
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #353535;
  }

  .main {
    width: 90%;
    margin:20px auto;
    color: #FFFFFF;
    
}

/* Bootstrap 3 text input with search icon */

.has-search .form-control-feedback {
    
    right: initial;
    left: 0;
    color: rgb(97, 97, 97);

}

.has-search .form-control {
    margin-top: 10px;
    border: 2px solid rgb(58, 58, 58);
    padding-right: 12px;
    padding-left: 34px;
}
